# Uso de Dataframe en Pandas
##### https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [20]:
import pandas as pd
import sys
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
#from pandas.tools.plotting import radviz#

%matplotlib inline

In [22]:
mi_df = pd.read_json('data/data-demo-5.json')
mi_df2=mid_df

ValueError: Expected object or value

In [23]:
mi_df

  apellidos    edad   nombres
2  castillo  edad12    carlos
3   salinas  edad13     pedro
4   andrade  edad14  cristian

In [16]:
mi_df = mi_df.dropna()

In [17]:
mi_df.fillna(0)

  apellidos    edad   nombres
2  castillo  edad12    carlos
3   salinas  edad13     pedro
4   andrade  edad14  cristian